<h1>Edit book</h1>
<br>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-6">
            <button class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-success pull-right" (click)="saveBook(bookEditForm)">Save Book</button>
        </div>
    </div>
</form>
<br>
<div class="container">
    <div class="row">
        <form #bookEditForm="ngForm">
            <div class="form-group col-xs-6">
                <label for="title">Title</label>
                <input
                        type="text"
                        id="title"
                        class="form-control"
                        [(ngModel)]="book.title"
                        name="title"
                        required
                />
                <br>
                <div>
                    <label class="margin10Right">Authors</label>
                    <button class="btn btn-success margin10Right" (click)="toggleNewAuthor()">{{newAuthorButtonText}}</button>
                </div>

                <div *ngIf="newAuthorActive" style="margin-top: 20px; height: 130px; border-radius: 15px; border: 1px solid gray;">
                    <form #authorEditForm="ngForm">
                        <div class="form-group col-xs-6 margin10Top">
                            <label for="firstName">First name</label>
                            <input
                                    type="text"
                                    id="firstName"
                                    class="form-control"
                                    [(ngModel)]="newAuthor.firstName"
                                    name="firstName"
                            />
                        </div>
                        <div class="form-group col-xs-6 margin10Top">
                            <label for="lastName">Last name</label>
                            <input
                                    id="lastName"
                                    class="form-control"
                                    name="lastName"
                                    [(ngModel)]="newAuthor.lastName"
                                    required
                            />
                        </div>
                        <div class="form-group col-xs-12">
                            <button class="btn btn-success pull-right" (click)="saveAuthor(authorEditForm)">Save author</button>
                            <button class="btn btn-danger pull-right margin10Right" (click)="toggleNewAuthor()">Cancel</button>
                        </div>
                    </form>
                </div>
                <div *ngFor="let author of book.authors; let i = index">
                    <br>
                    <div class="col-xs-11 no-padding-left">
                        <input type="text" name="author" class="form-control" list="authors"
                               value="{{getCompleteName(author)}}" (change)="saveSelectedAuthor($event, i)">
                        <datalist id="authors">
                            <option *ngFor="let authorOption of authors" [value]="getCompleteName(authorOption)">
                                {{getCompleteName(authorOption)}}
                            </option>
                        </datalist>
                        <br>
                    </div>
                    <div class="col-xs-1 no-padding-right">
                        <i class="fas fa-plus fa-2x" *ngIf="i == 0" style="color:#449d44" (click)="addAuthor()"></i>
                        <i class="fas fa-minus fa-2x" *ngIf="i != 0" style="color:#e30d0d"
                           (click)="deleteAuthor(i)"></i>
                    </div>
                </div>

                <br>
                <div>
                    <div class="col-xs-6 no-padding-left">
                        <label for="year">Publish year</label>
                        <input
                                type="number"
                                id="year" maxlength="4"
                                class="form-control"
                                [(ngModel)]="book.year"
                                name="year"
                        />
                    </div>
                    <div class="col-xs-6 no-padding-right">
                        <label for="category">Category</label>
                        <input
                                type="text"
                                id="category"
                                class="form-control"
                                [(ngModel)]="book.category"
                                name="category"
                        />
                    </div>
                </div>
                <br>
                <div>
                    <div class="col-xs-6 no-padding-left">
                        <br>
                        <label for="isbn">Language</label>
                        <input
                                type="text"
                                id="language"
                                class="form-control"
                                [(ngModel)]="book.language"
                                name="language"
                        />
                    </div>
                    <div class="col-xs-6 no-padding-right">
                        <br>
                        <label for="format">Format</label>
                        <input
                                type="text"
                                id="format"
                                class="form-control"
                                [(ngModel)]="book.format"
                                name="format"
                                disabled
                        />
                        <br>
                    </div>
                </div>
                <div>
                    <div class="col-xs-6 no-padding-left">
                        <label for="isbn">ISBN</label>
                        <input
                                type="text"
                                id="isbn"
                                class="form-control"
                                [(ngModel)]="book.isbn"
                                name="isbn"
                                required
                                [disabled]="readOnlyProperties"
                        />
                    </div>
                    <div class="col-xs-6 no-padding-right">
                        <label for="id">Id</label>
                        <input
                                type="text"
                                id="id"
                                class="form-control"
                                [(ngModel)]="book.id"
                                name="id" disabled
                        />
                        <br>
                    </div>
                </div>

                <label for="epub">E-Book name</label>
                <input *ngIf="book.encrypted != null"
                        type="text"
                        id="epub"
                        class="form-control"
                        [(ngModel)]="book.epub"
                        name="epub"
                        disabled
                />

                <div class="col-xs-11 no-padding-left" *ngIf="book.encrypted == null">
                    <input type="text"
                           id="epub1"
                           class="form-control"
                           [(ngModel)]="book.epub"
                           name="epub"
                           disabled
                           required
                    />
                    <br>
                </div>
                <div class="col-xs-1 no-padding-right" *ngIf="book.encrypted == null">
                    <i class="fas fa-file-upload fa-2x" style="color:#449d44" (click)="BookSelectInput.click()"></i>
                    <input
                            style="display: none"
                            type="file" (change)="loadEpub($event)"
                            #BookSelectInput>
                </div>


                <br>
                <label for="encrypted">Encrypted book name</label>
                <input
                        type="text"
                        id="encrypted"
                        class="form-control"
                        [(ngModel)]="book.encrypted"
                        name="encrypted"
                        disabled
                />
                <br>
                <div>
                    <label for="publisher">Publisher</label>
                    <input
                            type="text"
                            id="publisher"
                            class="form-control"
                            [(ngModel)]="book.publisher"
                            name="publisher"
                            required
                    />
                </div>
                <br>
                <div>
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="description"
                              [(ngModel)]="book.description"></textarea>
                </div>
            </div>

            <div class="form-group col-xs-6">
                <img [src]="defaultImage" *ngIf="!imageFile" class="image-book center">
                <img [src]="imageFile" *ngIf="imageFile" class="image-book center">
                <div class="center">
                    <br>
                    <button class="btn btn-primary center" (click)="fileInput.click()" [disabled]="readOnlyProperties">
                        <i class="fas fa-file-upload fa-1x" style="color:#fff"></i>
                        {{book.id == null ? 'Load image' : 'Change image'}}
                    </button>
                    <input
                            style="display: none"
                            type="file" (change)="selectFile($event, true)"
                            #fileInput>
                </div>
                <div class="center" *ngIf="book.id != null">
                    <br>
                    <label>Created at:</label> {{book.createdAt}}
                    <br>
                    <label>Created by:</label> {{book.createdBy}}
                    <br>
                    <label>Modified at:</label> {{book.updatedAt}}
                    <br>
                    <label>Modified by:</label> {{book.updatedBy}}
                </div>
            </div>
        </form>
    </div>
</div>
