<h1>Upload books</h1>
<br>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-6">
            <button class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
        <div class="col-xs-6 ">
            <button class="btn btn-success pull-right" (click)="save()">
                Save
            </button>
            <button class="btn btn-success pull-right margin10Right" (click)="loadBooks.click()">
                <i class="fas fa-file-upload fa-1x" style="color:#fff"></i>
                Load books
            </button>
            <input
                    style="display: none"
                    type="file" (change)="load($event)" multiple
                    #loadBooks>

            <button class="btn btn-success pull-right margin10Right" (click)="loadDirectoryBooks.click()">
            <i class="fas fa-file-upload fa-1x" style="color:#fff"></i>
            Load directory
            </button>
            <input
                    style="display: none"
                    type="file" (change)="load($event)" webkitdirectory directory multiple
                    #loadDirectoryBooks>
        </div>
    </div>
</form>

<br>
<div class="container">
    <div class="row">
        <div *ngFor="let book of this.books; let i = index" class="book">
            <div class="col-xs-4">
                <label class="margin20Right">{{i+1}}.</label>
                <img [src]="metadataImage" *ngIf="book.isCSV" class="margin20Right image-book">
                <img [src]="defaultImage" *ngIf="!book.image && !book.isCSV" class="margin20Right image-book">
                <img [src]="book.image" *ngIf="book.image" class="margin20Right image-book">
                <label #titleLabel>{{book.title}}</label>
            </div>
            <div class="col-xs-3 full-height" [ngClass]="(!book.epubFile)?'error':''" *ngIf="!book.isCSV">
                <div class="center" (click)="fileEpubInput.click()">
                    <label [hidden]="!book.epubFile" class="align-right" style="cursor:pointer">
                        <i style="cursor:pointer" class="fas fa-file-upload load-icon-action"></i>
                        {{book.epubFile != null ? book.epubFile.name : ''}}
                    </label>
                    <label [hidden]="book.epubFile" class="align-right" style="cursor:pointer">
                        <i style="cursor:pointer" class="fas fa-file-upload load-icon-action"></i>
                        Load book
                    </label>
                    <input
                            style="display: none"
                            type="file" (change)="selectEpub(book, $event)"
                            #fileEpubInput>
                </div>
            </div>

            <div class="col-xs-2 full-height align-right">
                <div class="center" (click)="deleteBook(book)">
                    <label class="align-right" style="cursor:pointer">Delete</label>
                    <i style="cursor:pointer" class="fas fa-trash-alt delete-icon-action"></i>
                    <div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 full-height align-right" *ngIf="!book.isCSV">
                <div class="center" (click)="fileInput.click()">
                    <label class="align-right" style="cursor:pointer">Change image</label>
                    <i style="cursor:pointer" class="fas fa-file-upload load-icon-action"></i>
                    <input
                            style="display: none"
                            type="file" (change)="selectFile(book, $event)"
                            #fileInput>
                </div>
            </div>
