<h1>Books</h1>
<br>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-1">
            <label for="search" class="control-label">Search</label>
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="search" [(ngModel)]="searchTerm"
                   [ngModelOptions]="{standalone: true}"
                   placeholder="by title or ISBN">
        </div>
        <div class="col-xs-1">
            <button class="btn btn-primary" (click)="onSearch()">
                <i class="fas fa-search"></i>
                Search
            </button>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button class="btn btn-success margin10Right" (click)="onNewBook()">
                    <i class="fas fa-plus"></i> New Book
                </button>
                <button class="btn btn-success margin10Right" (click)="upload()">
                    <i class="fas fa-file-upload fa-1x" style="color:#fff"></i>
                    Upload
                </button>
                <button class="btn btn-success margin10Right" (click)="encryptionDRM()">
                    <i class="fas fa-key fa-1x"></i>
                    DRM Encryption
                </button>
            </div>
        </div>
    </div>
</form>

<br>
<span id='row-count'></span>
<div style="background-color: #ffffff" id="books-table"></div>
